@tailwind preflight;
a {
    @apply .no-underline;
}

.appearance-none {
    -webkit-appearance: none;
}

.tab-active {
    border-bottom: 1px white;
    background-color: white !important;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content:click {
    @action toggle-class("active");
}

.dropdown:hover .dropdown-hover\:text-white {
    @apply .text-white;
}