<!doctype html>
<html lang="en">

<head>
    {% include 'theme::partials/metadata' %}
</head>

<body class="font-sans">
    <div class="flex flex-col min-h-screen" id="app">
        <div class="flex bg-grey-darkest h-16">
            <div class="w-24 flex  justify-center">
                {% include 'theme::svg/logo' %}
            </div>
            <div class="flex flex-1 justify-between items-center">
                {% include 'theme::partials/top-nav' %}
            </div>
        </div>
        <div class="flex flex-grow ">
            <div class="w-24 md:flex flex-col flex-no-shrink hidden ">
                {% include 'theme::partials/navigation' %}
            </div>

            <div class="flex-1 flex flex-col ">
                {% block content %}{% endblock %}

                <div class="bg-white border-t">
                    <div class="container mx-auto px-4">
                        <div class="md:flex justify-between items-center text-sm py-4">
                            <p>© 2018 SuperV 0.92 s | 16 mb 0.0.1</p>
                            <div class="relative">
                                <select class="leading-tight w-full border border-grey-light block appearance-none px-4 py-1 pr-8">
                                    <option>English</option>
                                    <option>Türkçe</option>
                                    <option>Deutsch</option>
                                </select>
                                <div class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey">
                                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {% include 'theme::partials/js' %}
    {% block scripts %}{% endblock %}
</body>

</html>