<!doctype html>
<html lang="en">

<head>
    <title>SuperV</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="/themes/tailwind/">
    <link rel="stylesheet" href="css/styles.css">

    <link rel="stylesheet" href="fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/themes/global/element/theme-chalk/index.css">
    <link rel="stylesheet" href="/themes/global/css/toastr.css">
    <link rel="stylesheet" href="/themes/global/fonts/lato/lato.css">

    <link rel="stylesheet" href="/themes/global/css/superv.css?v={{ random() }}">

    <!-- <script src="https://use.fontawesome.com/b5ab651074.js"></script> -->
</head>

<body class="font-sans">
    <div class="h-screen flex flex-col" id="app">
        <div class="flex bg-grey-darkest h-16">
            <div class="w-24 flex  justify-center">
                {% include 'port::svg/logo' %}
            </div>
            <div class="flex flex-1 justify-between items-center">
                {% include 'port::partials/top-nav' %}
            </div>
        </div>
        <div class="flex flex-1 ">
            <div class="w-24 md:flex flex-col flex-no-shrink hidden ">
                {% include 'port::partials/navigation' %}
            </div>

            <div class="flex-1 flex ">
                {% block content %}{% endblock %}
            </div>

        </div>
    </div>

    {% include 'port::partials/js' %} {#{% include 'port::partials/modals' %}#} {% block scripts %}{% endblock %}
</body>

</html>